* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	
body {
	background-color: #e9e8e8;
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	color: #333333;
	font-weight: 400;
	margin:auto;
}

a {
	text-decoration: none;
}

/* layout --------------------------------------------------------- */

#main-nav,#pageHeader,#pageFooter,#main-body {
	padding: 10px;
}

#main-nav, #pageFooter {
	background-color: #222222;
	color: #FFF;
}

#content {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.97);
	width: 49%;
	margin-right: 2%;
	float: left;
	border: 1px solid #e9e9ea;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
}

#sidebar {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.97);
	width: 49%;
	float: left;
	border: 1px solid #e9e9ea;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
}

.wrappernav {
	border: 1px solid red;
	max-width: 1300px;
	margin: auto;
}
.wrapper-header {
	max-width: 1300px;
	margin: 10px auto;
}

.wrapper {
	border: 1px solid red;
	max-width: 1300px;
	margin: 10px auto;
	padding-bottom: 100px;
}

.clearfix:after {
	content:" ";
	display: block;
	clear:both;
}

/* Logo ----------------------------------------------------------- */

#logo {
	width: 25%;
	float: left;

}

#logo img { 
	width: auto;
	height: auto;
	display: flex;
}

/* Nav menu ----------------------------------------------------------- */
#main-nav ul {

	width: 50%;
	float: left;
	list-style-type: none;

}

#main-nav li {
	display:inline;
	margin-right:30px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#main-nav a {
	font-size: 20px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
}

#main-nav a:hover {
	color: #ef233c;
}


/* Social  ----------------------------------------------------------- */
#social {
	width: 25%;
	float: right;	
	text-align: right;
}

#social a {
	margin-left: 10px;
}

#pageFooter{
	padding: 60px;
	text-align: center;
}

#header article {
	width:100%;
	float:left;
}
/*margin:0 0.5%*/

/* Header -------------------------------------------------------- */

section {
	padding: 100px 0;
}

article {
	font-size: 72px;
	font-family: 'Futura PT', sans-serif;
	font-weight: 700;
	color: #111111;
	line-height: 57px;
	text-align: center;
}

article:nth-of-type(2) {
	font-size: 50px;

	color: #333333;
}

article:nth-of-type(3) {
	font-size: 33px;
	line-height: 38px;
	color: #666666;
}

/*
:last-of-type
:nth-of-type(3)
*/